.actionsContainer {
    border-radius: 100px;
    width: 90%;
    height: 90%;
    margin: auto;
    background-color: #D9D9D9;
    color: black;
  
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5%; 
}
  
.actionsContainer h1{
    position: relative;
    text-transform: uppercase;
    top: 5%;
    margin-bottom: 7%;
    font-size: 2vw;
 }
  .inputGrid{ 
    height: 10%;
    text-align: center;
    border-radius: 90px;
    background-color: #1B263B;
    color: white;
    width: 60%;
  
   
    display: grid; 
    grid-template-columns: 2fr 1fr 1fr;
    align-items: center;

    font-size: 1vw;
  }
  .inputGrid span{
    text-align: left;
    font-size: 1.5vw;
  }
  
  .inputGrid input{
    width: 80%;
    height: 60%;
    text-align: right;
    background-color: transparent;
    border: none;
    color: white;

    font-size: 1.5vw;
   }

   .inputGrid_select{
    height: 10%;
    text-align: center;
    border-radius: 90px;
    background-color: #1B263B;
    color: white;
    width: 60%;
  
    display: grid; 
    grid-template-columns: 2fr 1.5fr ;
    align-items: center;

    font-size: 1vw;
   }
   .inputGrid_select select{
    width: 60%;
    height: 80%;
    text-align: center;
    background-color: #1B263B;
    color: white;
   border: none;

   font-size: 1.5vw;
   }
   .actionsContainer_split{
    background-color: #1B263B;
    color: white;
    width: 30%;
    height: 10%;
    border: none;
    border-radius: 90px;
    font-size: 1.2vw;
    text-transform: uppercase;
   }
   
   @media only screen and (max-width: 768px) {
    
      .actionsContainer {
        position: absolute;

        
    }
    .hidden{
      visibility: hidden;
    }
    .actionsContainer h1{
      font-size: 5vw;
   }
    .inputGrid{ 
     font-size: 2.5vw;
     width: 80%;
    }
    .inputGrid span, .inputGrid input, .inputGrid_select select{
      font-size: 4vw;
    }
    
     .inputGrid_select{
      width: 80%;
      font-size: 2.5vw;
     }
   
     .actionsContainer_split{
      font-size: 3vw;
     }
    }
    @media only screen and (max-width:1024px ) and (min-width:769px )  {
    
      .actionsContainer {
        position: absolute;
        height: 90%;
        
    }
    .hidden{
      visibility: hidden;
    }
    .actionsContainer h1{
      font-size: 5vw;
   }
    .inputGrid{ 
     font-size: 2.5vw;
     width: 80%;
    }
    .inputGrid span, .inputGrid input, .inputGrid_select select{
      font-size: 4vw;
    }
    
     .inputGrid_select{
      width: 80%;
      font-size: 2.5vw;
     }
   
     .actionsContainer_split{
      font-size: 3vw;
     }
    }
    @media (orientation: landscape) and (max-width:1024px )  {
        
      .actionsContainer {
        position: absolute;
        width: 100vw;
        
    }
    .hidden{
      visibility: hidden;
    }
    .actionsContainer h1{
      font-size: 5vw;
   }
    .inputGrid{ 
     font-size: 2.5vw;
     width: 80%;
     height: auto;
    }
    .inputGrid span, .inputGrid input, .inputGrid_select select{
      font-size: 3vw;
      align-self: center;
    
    }
    
     .inputGrid_select{
      width: 80%;
      font-size: 2vw;
      
     }
   
     .actionsContainer_split{
      font-size: 3vw;
     }
    }
   